/* ------------ GOOGLE FONTS ------------ */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 


/* ------------ VARIABLES ------------ */
:root{
  
  /* FONT */
  --font: 'Poppins', sans-serif;
  
  /* FONT SIZE */
  --title-font-size: 2.25rem;
  
  --big-font-size: 1.5rem; 
  --middle-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  
  /* COLORS */
  --bg-color: #111024;
  --second-bg-color: #fff;
  --text-color: #fff;
  --second-text-color: #000;
  --main-color: #50ff00;

  /* ------------ */
  --height-nav: 3em;
  --padding-container: 3em 0;
  --border-bottom: 4px solid var(--main-color);
}

/* ------------- BASE ----------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body{
  font-family: var(--font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  background-color: var(--bg-color);
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

img{
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}

textarea{
  resize: none;
}

/* --------- REUSABLES CLASSES -------- */
.container{
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.btn{
  background-color: var(--main-color);
  color: var(--second-text-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
  display: inline-block;
  border: none;
  padding: .5em 1em;
  border-radius: .4em;
  outline: none; 
  cursor: pointer;
  
}

.btn:hover{
  background-color: #000;
  color: #50ff00; 
}

 .social-media{
  display: flex;
  
} 

.social-media a{
  font-size: var(--big-font-size);
  transition: color .3s ease;
}

.social-media a:hover{
  color: var(--main-color);
}

.section__content{
  text-align: center;
}

.section__title{
  display: inline-block;
  font-size: var(--big-font-size);
  border-bottom: var(--border-bottom);
  margin-bottom: 1em;
}

.section__title--black{
  color: var(--second-text-color);
}

/* ------------- HEADER --------------- */
.header{
  width: 100%;
  height: 100vh;
}

.nav{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: var(--height-nav);
  background-color: var(--bg-color);
}

.nav__content{
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 
.nav__logo{
  font-size: var(--big-font-size);
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 1px;
} */

/* .nav__logo span{
  color: var(--main-color);
  font-size: 2rem;
} */

.nav__icon-menu{
  font-size: var(--big-font-size);
  cursor: pointer;
}

.nav__links{
  position: absolute;
  top: -150vh;
  left: 0;
  background-color: rgba(255,255,255, .8); 
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100vh;
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .8s ease;
}

.nav__link{
  margin-bottom: 2em;
}

.nav__link a{
  font-size: var(--middle-font-size);
  font-weight: 500;
  /* color: var(--second-text-color); */
  color: var(--bg-color);
  text-decoration: underline;
}

.nav.active .nav__links{
  top: var(--height-nav);
}

/* ------------- HERO ----------------- */
.hero{
  width: 100%;
  height: 100vh;
  /* background-image: url('/images/IMG-20221027-WA0016.jpg'); */
  background-image: url('/images/frontimg.jpg');
  background-size: cover;
  background-position: center; 
  background-attachment: fixed;
  /* background-position: bottom; */
  
  
}


.hero__content{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
}

.hero__content h3{
  font-size: var(--middle-font-size);
}

.sub_hero_title{
  text-shadow: 4px 4px 4px #000000;
  /* font-size: 3vmin;  */
}

.hero__title{
  font-size: var(--title-font-size);   
  /* font-size: 7vmin;   */
  margin: .2em 0 .5em;
   text-shadow: 4px 4px 4px #000000; 
}

.hero__title span{
  color: var(--main-color);
}

.hero__content p{
  max-width: 80%;
  margin-bottom: 2em;
}

.hero__btn:active{
    transform: scale(0.9);
}
.shadow {
  /* text-shadow:  black 10px -5px 2px; */
  color: #000;
  font-weight: bold;
  
}

.social-media--hero{
  flex-direction: column;
  position: absolute;
  bottom: 2em;
  left: 0;
}

/* ------------- SERVICES ------------- */
.services{
  background-color: var(--second-bg-color);
}

.services__cards{
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  gap: 2rem;
}

.services__card{
  background-color: var(--bg-color);
  padding: 1.5em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services__card-icon{
  font-size: var(--big-font-size);
  color: var(--main-color);
}

.services__card-title{
  font-size: var(--middle-font-size);
  margin: 1em 0;
}

.services__card-description{
  text-align: center;
}

/* ------------- ABOUT ---------------- */
.about__text{
  text-align: center;
  margin-bottom: 1.5em;
}

.about__btn:active{
  transform: scale(0.9);
}

/* ------------- PROJECTS ------------- */
.proyects{
  background-color: var(--second-bg-color);
}

.proyects__cards{
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  align-items: center;
  gap: 1em;
}

.proyects__card{
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.proyects__card-info{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .8);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  padding: 0 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.proyects__card:hover .proyects__card-info{
  display: flex;
}

.proyects__card-title{
  font-size: var(--middle-font-size);
  margin-bottom: .5em;
}

.proyects__card-description{
  text-align: center;
}




/* TESTIMONIALS */

.test{
  
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--bg-color);
  text-underline-position: below;
  display: block;
  text-decoration: underline #50ff00 4px;
  font-size: var(--big-font-size);
  
  
  
  }
  
  .block {
   background-color: #fff; 
   display: block;
   width: 100%;
  
  
   
  }
  
  .cards{
     display: flex; 
    justify-content: center; 
    align-items: center;     
    min-height: 80vh;
    background:   #fff;
     background-attachment: fixed; 
     
  } 
  
  .container2{
     position: relative;  
     width: auto;  
    /* padding: 20px;   */
    display: flex;  
    justify-content: center;
    align-items: center; 
     flex-wrap: wrap;  
  }
  img{
      width: 100%;
       
  }
   
  .container2 .card{
    position: relative;
    width: 300px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0px 15px 25px rgba(0,0,0,.2);
    background-color: #fff;
    margin: 20px;  
    overflow: hidden;
    transition: .5s;
    
    
  }
   
  .container2:hover .card{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
  } 
   
  .container2 .card:hover{
    filter: blur(0);
    transform: scale(1.1);
    opacity: 1;
  } 
   
  .container2 .card .circle{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    clip-path: circle(180px at center 0);
    text-align: center;
  }
   
   
  .container2 .card .content{
    position: absolute;
    bottom: 10px;
    page-break-after: 20px;
    text-align: center;
    padding: 20px;
  }
   
  .container2 .card .content p{
    color: #666;
    text-align: center;
    font-size: 15px;
  
  }
   
  .container2 .card .content a{
    position: relative;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-top: 20px;
    text-decoration: none;
     
  }
   
  .container2 .card:nth-child(1) .circle,
  .container2 .card:nth-child(1) .content a{
    background-color: #111024;
  }
   
  .container2 .card:nth-child(2) .circle,
  .container2 .card:nth-child(2) .content a{
    background-color: #111024;
  }
   
  .container2 .card:nth-child(3) .circle,
  .container2 .card:nth-child(3) .content a{
    background-color: #111024;
  }
  
  
  
/* ------------- CONTACT -------------- */
.contact__content{
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.contact__socialmedia h2{
  font-size: var(--big-font-size);
  color: var(--main-color);
}

.contact__socialmedia p{
  margin: .5em 0 1em;
} 

.social-media--contact{
  gap: 2em;
}

.contact__form p{
  font-size: var(--middle-font-size);
  margin-bottom: 1em;
  font-weight: 500;
}

 .form__input,
.form textarea{
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: .5em;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  background-color: #333333;
  color: var(--text-color);
}  



.form__btn{
  display: block;
  margin: 0 auto;
  font-size: var(--middle-font-size);
}

.form__btn:active{
    transform: scale(0.9);
  
}
  
/* input[type="file"]{
display: none; 
}  */

label{
color: #fff;
text-transform: uppercase;
background: #c0392b;
text-align: left;
padding: 10px 10px;
display: inline-block;
font-size: 2vmin;
font-weight: bold;
letter-spacing: 1.5px;
user-select: none;
cursor: pointer;
margin-bottom: 3%;
box-shadow: 5px 15px 25px rgba(0,0,0,35);
border-radius: 3px;
}

label i{
  margin-right: 10px;
}

label:active{
  transform: scale(0.9);
}

/* VIDEO */

.video_info video {
  width: 100%;
  height: 400px;
  
}



/* ------------- FOOTER ---------------- */
.footer{
  padding: 1em 0;
}

.footer p{
  font-size: var(--small-font-size);
  text-align: center;
}
 .bold{
  font-weight: bold;
 }
 .heading > span{
  animation: glow 2s ease-in-out infinite;
  /* font-size: var(--big-font-size);  */
  font-weight: 500; 
  color: var(--text-color);
  letter-spacing: 1px;
 }

 @keyframes glow {
  0%, 100%{
    /* color: #fff; */
    text-shadow: 0 0 12px lime, 0 0 50 lime, 0 0 100px lime;
  }
  10%, 90% {
    color: #50f000;
text-shadow: none;
  }
 }


 .heading >span:nth-child(2){
  animation-delay: 0.25s;
 }
 .heading >span:nth-child(3){
  animation-delay: 0.5s;
 }
 .heading >span:nth-child(4){
  animation-delay: 0.75s;
 }
 .heading >span:nth-child(5){
  animation-delay: 1s;
 }
 .heading >span:nth-child(6){
  animation-delay: 1.25s;
 }
 .heading >span:nth-child(7){
  animation-delay: 1.50s;
 }
 .heading >span:nth-child(8){
  animation-delay: 2s ;
 }
 .heading >span:nth-child(9){
  animation-delay: 2.25s;
 }
 .heading >span:nth-child(10){
  animation-delay: 2.50s;
 }
 .heading >span:nth-child(11){
  animation-delay: 3s;
 }
 .heading >span:nth-child(12){
  animation-delay:3.25s ;
 }
 .heading >span:nth-child(13){
  animation-delay:3.50s ;
 }
 .heading >span:nth-child(14){
  animation-delay: 4s;
 }
 .heading >span:nth-child(15){
  animation-delay: 4.25s;
 }
 .heading >span:nth-child(16){
  animation-delay: 4.50s;
 }

 div .small {
  width: 50%;
 }


